# Generic Files
*~
*.swp

log/
logs-*/

# Byte-compiled / optimized / DLL files
rules/ansible-review/__pycache__
__pycache__/
venv/
env/
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings/

# Sphinx documentation
docs/_build/

# Ansible
*.retry

# Galaxy Roles
galaxy_roles/
